:ruby

  user = locals[:user]
  raise ArgumentError, 'User required' unless user.is_a?(User)
  key_filename =  "~/.task/#{user.name}.key.pem"
  cert_filename = "~/.task/#{user.name}.cert.pem"
  ca_filename =   "~/.task/ca.cert.pem"


%html
  %head
  %body
    %h1 FreeCinc
    %warn Save a copy of this page so that all clients you set up use the same keys and configuration

    %h2 Step 1: Make sure TaskWarrior 2.3.0 or greater is installed

    %h2 Step 2: Save Keys


    %instruct= key_filename
    = save_as(key_filename)
    %block= user.key

    %instruct= cert_filename
    = save_as(cert_filename)
    %block= user.cert

    %instruct= ca_filename
    = save_as(ca_filename)
    %block= user.ca

    %h2 Step 3: Configuration
    %instruct Run the following in a terminal (one line at a time because you have to confirm each step)
    %block  task config taskd.server freecinc.com
    %block= "task config taskd.key #{key_filename}"
    %block= "task config taskd.cert #{cert_filename}"
    %block= "task config taskd.ca #{ca_filename}"

    %h2 Step 4: Verify
    %p Run the diagnostic tool to make sure that your keys are present and readable, and that the server is properly set

    %block task diagnostics

    %h2 Step 5: Sync
    %p The moment you've been waiting for!
    %block task sync init

