:ruby

  user = locals[:user]
  raise ArgumentError, 'User required' unless user.is_a?(User)
  key_filename =  "#{user.name}.key.pem"
  cert_filename = "#{user.name}.cert.pem"
  ca_filename =   "#{user.name}.ca.pem"


%html
  %head
    = stylesheets
  %body
    %h1 FreeCinc
    %warn Your keys have been generated! You may want to save a copy of this we page for future reference---especially if you want to be able to configure multiple clients.

    %h2 Configuration

    %h3 1. Make sure TaskWarrior 2.3.0 or greater is installed

    %command  task --version


    %h3 2. Save Keys

    %instruct Save the following files to your ~/.task directory

    = haml :file_download, locals: { password: user.password, filename: key_filename }
    = haml :file_download, locals: { password: user.password, filename: cert_filename }
    = haml :file_download, locals: { password: user.password, filename: ca_filename }

    %h3 3. Configuration
    %instruct Run the following in a terminal (one line at a time because you have to confirm each step)

    %command  task config taskd.server freecinc.com:53589
    %br

    %command= "task config taskd.key ~/.task/#{key_filename}"
    %br

    %command= "task config taskd.certificate ~/.task/#{cert_filename}"
    %br

    %command= "task config taskd.ca ~/.task/#{ca_filename}"

    %h3 Step 4: Verify
    %instruct Run the diagnostic tool to make sure that your keys are present and readable, and that the server is properly set

    %command task diagnostics

    %h3 Step 5: Sync
    %instruct The moment you've been waiting for!
    %command task sync init

